################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Braid and Eili/obj/MakeTypesPublic/Assemblies/CobaltCore.dll
